[build]
  command = "pnpm build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  directory = "netlify/functions"



# [[build.hooks]]
#   command = "node scripts/setup-netlify-db.js"

[dev]
  command = "pnpm dev"
  port = 3000
